* {
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0; 
  overflow-x: hidden;
}